{% extends 'base.html.twig' %}
{% block main %}
  <br> </br> </br>

<div class="container">
  <div class="row  mb-30">
  {% for region in tablesRegions %}
   <div class="col-md-3">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
     <div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{region.code}}</font></font></div>
     <div class="card-body">
        <h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{region.nom}}</font></font></h4>
      </div>
    </div>
   </div>
   {% endfor %}
 </div>
</div>

{% endblock %}